
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<h3>{{ time_now|date:'d M Y' }}</h3>

{% block title %}
Post
{% endblock title %}




{% block content %}
<h1>
<table> 
           <tr>
               <td> 
                   Название
               </td>
               <td> 
                    Текст статьи
               </td>
               <td>
                Дата публикации
                  
               </td>
               </td>
               <td>
                Рейтинг
                  
               </td>
           </tr> 
            <td>  {{ post.title|censor }}</td>
               <td>  {{ post.text|truncatechars:20|censor }}</td>
               <td>  {{ post.date|date:'d M Y' }}
               </td>
               <td>  {{ post.post_rate}}
               </td>

               </h1>
{% endblock content %}